ul#css-menu,ul#css-menu ul {
	margin: 0;
	list-style: none;
	padding: 0;
}
ul#css-menu,ul#css-menu .submenu {
	background-color: none;
	border-width: 0;
	border-style: solid;
}
ul#css-menu .submenu{
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 100%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
	opacity: 0;
	-moz-transition: all 0.5s;
	-webkit-transition: opacity 0.5s;
	-o-transition: opacity 0.5s,visibility 0.5s;
	transition: opacity 0.5s;
	float: left;
	z-index: 2;
	background-color: #000000;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 0 3px 3px;
	filter: alpha(opacity=95)
}
ul#css-menu li:hover>.submenu {
	visibility: visible;
	opacity: 1;
}
ul#css-menu li{
	position: relative;
	display: block;
	white-space: nowrap;
	font-size: 0;
	float: left;
}
ul#css-menu li:hover {
	z-index: 1;
}
ul#css-menu>li:hover>.submenu {
	opacity: 0.95;
}
ul#css-menu {
	font-size: 14px;
    	float: right;
    	position: relative;
   	display: inline-block;
    	padding: 12px 0;
   	border-radius: 2px;
    	-moz-border-radius: 2px;
    	-webkit-border-radius: 2px;
}
ul#css-menu .column {
	float: left;
}
html ul#css-menu li a {
	display: block;
}
ul#css-menu>li {
	margin: 0 0 0 5px;
}
ul#css-menu ul>li {
	margin: 5px 0 0;
}
ul#css-menu a:active, ul#css-menu a:focus {
	outline-style: none;
}
ul#css-menu a {
	display: block;
	vertical-align: middle;
	text-align: left;
	text-decoration: none;
	font: bold 13px Arial,Helvetica,sans-serif;
	color: #FFFFFF;
	cursor: pointer;
	padding: 7px 12px;
	background-repeat: repeat;
	border-width: 0px;
	border-style: none;
}
ul#css-menu ul li {
	float: none;
	margin: 3px 0 0;
}
ul#css-menu ul a {
	text-align: left;
	padding: 7px;
	background-color: #000000;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font: bold 13px Arial,Helvetica,sans-serif;
	color: #FFFFFF;
	text-decoration: none;
}
ul#css-menu li:hover>a,ul#css-menu li a.pressed {
	border-style: none;
	color: #FFFFFF;
	text-decoration: none;
}
ul#css-menu span {
	display: block;
	overflow: visible;
	background-image: url("arrowmain.gif");
	background-position: right center;
	background-repeat: no-repeat;
	padding-right: 20px;
}
ul#css-menu ul li:hover>a,ul#css-menu ul li a.pressed {
	background-color: #aa0000;
	color: #FFFFFF;
	text-decoration: none;
}
ul#css-menu li.topmenu>a {
	background-color: #800000;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	color: #FC0;
}
ul#css-menu li.topmenu:hover>a,ul#css-menu li.topmenu a.pressed {
	background-color: #000000;
}

/*customization*/
.topmenu h2 a {
    font-size: 30px !important;
    margin-top: -10px;
}